.header-name {
	font-size: 3.5em !important;
	font-weight: 700 !important;
	text-align: center !important;
	margin-bottom: 0.6em !important;
}

.hoobies {
	letter-spacing: 0.12em !important;
}

.quote-card-view {
	border: none !important;
	color: white !important;
	background-color: transparent !important;
}