.about-section {
	position: relative !important;
	padding-top: 150px !important;
	padding-bottom: 30px !important;
	color: whitesmoke !important;
}
  
 @media (max-width: 767px) {
	.tech-icons {
	  margin: 10px !important;
	}
}
  

  
  .about-activity {
	list-style: none !important;
	text-align: left !important;
	padding-left: 1px !important;
  }
  
  @media (max-width: 767px) {
	.about-img {
	  padding-top: 0 !important;
	}
  }
