.skill-progress {
	width: 160px !important;
	height: 200px !important;
	position: relative;
	top: 20px;
}

.skill-progress .outer {
	height: 160px !important;
	width: 160px !important;
	border-radius: 50%;
	padding: 20px;
	box-shadow: 6px 6px 10px -1px var(--color-60),
				-6px -6px 10px -1px var(--color-30);
}

.skill-progress .outer .inner {
	height: 120px !important;
	width: 120px !important;
	border-radius: 50%;
	display: flex !important;
	align-items: center;
	justify-content: center;
	box-shadow: inset 4px 4px 6px -1px var(--color-60),
				inset -4px -4px 6px -1px var(--color-30),
				-0.5px -0.5px 0px var(--color-30),
				0px 12px 10px -10px var(--color-60);
}

.skill-progress .outer .inner #number {
	font-weight: 600;
	font-size: 1.5em;
	color: var(--color-10);
}



.skill-progress svg{
	position: absolute;
	top: 0;
	left: 0;
}
