.contact_form {
	position: relative;
	padding: 130px 0px 80px 80px;
	overflow: hidden;
}

.formulario {
	width: 50rem !important;
	opacity: 0.85;
	border-radius: 20px;
}

.docs {
	color:  var(--color-10);
	display: flex;
	width: 100%;
	padding-top: 20px;
	font-size: 1.3em;
}

.row-form {
	opacity: 0.85;
	border-radius: 20px;
	background: linear-gradient(to left bottom, var(--color-60), var(--color-30));
	-webkit-box-shadow: inset 0px 0px 0.5em 0px var(--color-10),
	0px 0px 0.5em 0px var(--color-10);
  	-moz-box-shadow: inset 0px 0px 0.5em 0px var(--color-10),
	0px 0px 0.5em 0px var(--color-10);
  	box-shadow: inset 0px 0px 1.2em 0px var(--color-10),
	0px 0px 1.5em 0px var(--color-10);
	margin-bottom: 60px !important;
	margin-top: 7rem !important;
	margin-left: 5rem !important;
	margin-right: 5rem !important;
}

label {
	color: var(--color-10);
}

input,
textarea {
	padding-left: 20px !important;
	color: var(--color-10);
	outline: none !important;
}


form {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
}

textarea:focus, 
input:focus {
	border-color: var(--color-10);
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--color-10),
	  0px 0px 0.5em 0px var(--color-10);
	-moz-box-shadow: inset 0px 0px 0.5em 0px var(--color-10),
	  0px 0px 0.5em 0px var(--color-10);
	box-shadow: inset 0px 0px 0.5em 0px var(--color-10),
	  0px 0px 0.5em 0px var(--color-10);
    outline: 0 none;
}

#email {
	border-radius: 20px !important;
	height: 40px !important;
	border: 1px solid var(--color-10) !important;
	background-color: var(--color-60) !important;
}

#subject {
	border-radius: 20px !important;
	height: 40px !important;
	border: 1px solid var(--color-10) !important;
	background-color: var(--color-60) !important;
}

.message {
	margin-top: 50px;
}

#message {
	border-radius: 12px !important;
	height: 200px !important;
	border: 1px solid var(--color-10) !important;
	background-color: var(--color-60) !important;
}

button {
	align-self: flex-start;
	margin-top: 8rem !important;
}


.glowing-btn {
	position: relative;
	color: var(--color-10);
	cursor: pointer;
	text-align: center;
	padding: 0.4em 1em 0.5em;
	border: 0.15em solid var(--color-10);
	border-radius: 0.75em;
	background: none;
	perspective: 2em;
	font-size: 1.1em;
	font-weight: 900;
	letter-spacing: 0.65em;
  
	-webkit-box-shadow: inset 0px 0px 0.5em 0px var(--color-10),
	  0px 0px 0.5em 0px var(--color-10);
	-moz-box-shadow: inset 0px 0px 0.5em 0px var(--color-10),
	  0px 0px 0.5em 0px var(--color-10);
	box-shadow: inset 0px 0px 0.5em 0px var(--color-10),
	  0px 0px 0.5em 0px var(--color-10);
	animation: border-flicker 2s linear infinite;
  }
  
  .glowing-txt {
	float: left;
	margin-right: -0.8em;
	-webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
	  0 0 0.45em var(--color-10);
	-moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
	  0 0 0.45em var(--color-10);
	text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color-10);
	animation: text-flicker 3s linear infinite;
  }
  
  .faulty-letter {
	opacity: 0.5;
	animation: faulty-flicker 2s linear infinite;
  }
  
  .glowing-btn::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.7;
	filter: blur(1.5em);
	transform: translateY(100%) rotateX(95deg) scale(0.8, 0.25);
	background: var(--color-10);
	pointer-events: none;
  }
  
  .glowing-btn::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: -1;
	background-color: var(--color-10);
	box-shadow: 0 0 2em 0.2em var(--color-10);
	transition: opacity 100ms linear;
  }
  
  .glowing-btn:hover {
	color: var(--color-60);
	text-shadow: none;
	animation: none;
  }
  
  .glowing-btn:hover .glowing-txt {
	animation: none;
  }
  
  .glowing-btn:hover .faulty-letter {
	animation: none;
	text-shadow: none;
	opacity: 1;
  }
  
  .glowing-btn:hover:before {
	filter: blur(1.5em);
	opacity: 1;
  }
  
  .glowing-btn:hover:after {
	opacity: 1;
  }
  
  @keyframes faulty-flicker {
	0% {
	  opacity: 0.1;
	}
	2% {
	  opacity: 0.1;
	}
	4% {
	  opacity: 0.5;
	}
	19% {
	  opacity: 0.5;
	}
	21% {
	  opacity: 0.1;
	}
	23% {
	  opacity: 1;
	}
	80% {
	  opacity: 0.5;
	}
	83% {
	  opacity: 0.4;
	}
  
	87% {
	  opacity: 1;
	}
  }
  
  @keyframes text-flicker {
	0% {
	  opacity: 0.1;
	}
  
	2% {
	  opacity: 1;
	}
  
	8% {
	  opacity: 0.1;
	}
  
	9% {
	  opacity: 1;
	}
  
	12% {
	  opacity: 0.1;
	}
	20% {
	  opacity: 1;
	}
	25% {
	  opacity: 0.3;
	}
	30% {
	  opacity: 1;
	}
  
	70% {
	  opacity: 0.7;
	}
	72% {
	  opacity: 0.2;
	}
  
	77% {
	  opacity: 0.9;
	}
	100% {
	  opacity: 0.9;
	}
  }
  
  @keyframes border-flicker {
	0% {
	  opacity: 0.1;
	}
	2% {
	  opacity: 1;
	}
	4% {
	  opacity: 0.1;
	}
  
	8% {
	  opacity: 1;
	}
	70% {
	  opacity: 0.7;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @media only screen and (max-width: 600px) {
	.glowing-btn{
	  font-size: 1em;
	}
  }