@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Space+Mono&display=swap');

:root {
  --color-10: #fe4a1c; /* Puedes cambiar este valor al color que desees */
  --color-30: #740000; /* Otro color */
  --color-60: #281812; /* Y otro más */

  --color-30-05: #74000080; 

}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto Mono", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}